flows_RUBIKs_CUBE.json
[
    {
        "id": "1777d44f.558154",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "330aaaaf.0cce26",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/motoren",
        "wholemsg": "false"
    },
    {
        "id": "4f1772f5.13d30c",
        "type": "rpi-gpio out",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "41ff59b4.7af49",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 20,
        "wires": [
            [
                "4313b4b2.03c8e4"
            ]
        ]
    },
    {
        "id": "ccd15dc9.cb03c8",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "4f1772f5.13d30c"
            ]
        ]
    },
    {
        "id": "83a404ac.c4afd8",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "1e08c8c.20fbc37"
            ]
        ]
    },
    {
        "id": "ea1249e9.63fdd",
        "type": "rpi-gpio out",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "35",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1060,
        "y": 240,
        "wires": []
    },
    {
        "id": "4d283849.ef5ba",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "a034968.0baa268"
            ]
        ]
    },
    {
        "id": "f82a2123.f82788",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "6fc0a8ed.a6e568"
            ]
        ]
    },
    {
        "id": "6e53e1fc.b1d13",
        "type": "rpi-gpio out",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "29",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0e1f8aa.662bf8",
        "type": "comment",
        "z": "1777d44f.558154",
        "name": "LED",
        "info": "",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "7371a023.02488",
        "type": "rpi-gpio out",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "23",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "3c50e416.94346c",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "nach rechts",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "98f86cbc.8653b8"
            ]
        ]
    },
    {
        "id": "6eb4a94.8d67258",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "halt",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "31469676.19663a"
            ]
        ]
    },
    {
        "id": "27349da6.c02052",
        "type": "rpi-gpio out",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "11",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "x": 1060,
        "y": 640,
        "wires": []
    },
    {
        "id": "380ab0cd.15cde8",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "nach links",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "81b39bde.744b58"
            ]
        ]
    },
    {
        "id": "1e08c8c.20fbc37",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "ea1249e9.63fdd"
            ]
        ]
    },
    {
        "id": "a034968.0baa268",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "ea1249e9.63fdd",
                "6e53e1fc.b1d13"
            ]
        ]
    },
    {
        "id": "31469676.19663a",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 870,
        "y": 580,
        "wires": [
            [
                "7371a023.02488",
                "27349da6.c02052"
            ]
        ]
    },
    {
        "id": "98f86cbc.8653b8",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 870,
        "y": 520,
        "wires": [
            [
                "7371a023.02488"
            ]
        ]
    },
    {
        "id": "81b39bde.744b58",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 870,
        "y": 640,
        "wires": [
            [
                "27349da6.c02052"
            ]
        ]
    },
    {
        "id": "6fc0a8ed.a6e568",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 870,
        "y": 360,
        "wires": [
            [
                "6e53e1fc.b1d13"
            ]
        ]
    },
    {
        "id": "624f9d1.a956864",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "a034968.0baa268",
                "b616a7c0.2f6e38"
            ]
        ]
    },
    {
        "id": "b616a7c0.2f6e38",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "6fc0a8ed.a6e568",
                "39a13d94.a292aa"
            ]
        ]
    },
    {
        "id": "4659fbed.91a16c",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "1e08c8c.20fbc37",
                "624f9d1.a956864"
            ]
        ]
    },
    {
        "id": "39a13d94.a292aa",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "a034968.0baa268"
            ]
        ]
    },
    {
        "id": "a861bf73.f58a48",
        "type": "comment",
        "z": "1777d44f.558154",
        "name": "Motor 2",
        "info": "",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "a297eafb.f148e8",
        "type": "comment",
        "z": "1777d44f.558154",
        "name": "Motor 1",
        "info": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "71e12bae.be96e4",
        "type": "websocket in",
        "z": "1777d44f.558154",
        "name": "",
        "server": "330aaaaf.0cce26",
        "client": "",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "681f320e.1093c4",
                "b9558c61.7571f"
            ]
        ]
    },
    {
        "id": "681f320e.1093c4",
        "type": "switch",
        "z": "1777d44f.558154",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Motor_1_plus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_aus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_minus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_2_plus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_2_aus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_2_minus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_Festhalten",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_Kippen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_Loslassen",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Motor_LED",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "Loeseliste*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "Motor_Summer*",
                "vt": "str",
                "case": false
            },
            {
                "t": "eq",
                "v": "Motor_Testbeispiel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_schnell_Kippen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_Testbeispiel2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_Pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_weiter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_Testbeispiel_Y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_Testbeispiel_Q",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_Hochkippen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Motor_1_Runterkippen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 21,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "1e08c8c.20fbc37"
            ],
            [
                "a034968.0baa268",
                "31469676.19663a"
            ],
            [
                "6fc0a8ed.a6e568"
            ],
            [
                "98f86cbc.8653b8",
                "6021b993.1a6ac8",
                "30d7e4f9.41a73c",
                "c6c280ac.a81a7"
            ],
            [
                "31469676.19663a",
                "8cdb281c.c88cd",
                "a034968.0baa268"
            ],
            [
                "81b39bde.744b58",
                "6021b993.1a6ac8",
                "30d7e4f9.41a73c",
                "faec0a28.154268"
            ],
            [
                "da7848c2.d67c08"
            ],
            [
                "3ce7c0d7.cf1fd8"
            ],
            [
                "1db66ff7.3572d"
            ],
            [
                "1ca8da31.76b966"
            ],
            [
                "182547ce.903f08"
            ],
            [
                "8c339de4.4167d"
            ],
            [
                "a9783c38.9ddef8"
            ],
            [
                "d7efde5b.947a48"
            ],
            [
                "927763a2.5a0db"
            ],
            [
                "37dec65c.707fca"
            ],
            [
                "615abcff.cba604"
            ],
            [
                "423447f.8b18bb8"
            ],
            [
                "31ce5720.301fe8"
            ],
            [
                "ee79bfa2.b4a0d"
            ],
            [
                "e1f0460c.caaf6"
            ]
        ]
    },
    {
        "id": "b9558c61.7571f",
        "type": "debug",
        "z": "1777d44f.558154",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "e9e3b232.470dc",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1160,
        "wires": [
            [
                "da7848c2.d67c08"
            ]
        ]
    },
    {
        "id": "b603a626.a7b47",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.0",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 1180,
        "wires": [
            [
                "bcd059c6.a3f3c",
                "f3b0edad.9b4fe8"
            ]
        ]
    },
    {
        "id": "bcd059c6.a3f3c",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 410,
        "y": 1180,
        "wires": [
            [
                "de47e45.4043c18"
            ]
        ]
    },
    {
        "id": "1be2a623.46d662",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 1420,
        "wires": [
            [
                "c8dcd8e0.140c7",
                "f3b0edad.9b4fe8"
            ]
        ]
    },
    {
        "id": "c8dcd8e0.140c7",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "de47e45.4043c18"
            ]
        ]
    },
    {
        "id": "f6a8304b.35a6",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1520,
        "wires": [
            [
                "1db66ff7.3572d"
            ]
        ]
    },
    {
        "id": "70bbe59d.9b5c84",
        "type": "comment",
        "z": "1777d44f.558154",
        "name": "Kippen nur Festhalten",
        "info": "",
        "x": 105,
        "y": 1114.3333740234375,
        "wires": []
    },
    {
        "id": "30ee077.3e2f378",
        "type": "comment",
        "z": "1777d44f.558154",
        "name": "Kippen nur loslassen",
        "info": "",
        "x": 90,
        "y": 1460,
        "wires": []
    },
    {
        "id": "36c877c8.715b2",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1240,
        "wires": [
            [
                "3ce7c0d7.cf1fd8"
            ]
        ]
    },
    {
        "id": "129e5f65.0d4519",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 1280,
        "wires": [
            [
                "2db67214.92dac6",
                "615abcff.cba604",
                "ee79bfa2.b4a0d"
            ]
        ]
    },
    {
        "id": "2db67214.92dac6",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "de47e45.4043c18"
            ]
        ]
    },
    {
        "id": "ee79bfa2.b4a0d",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 1340,
        "wires": [
            [
                "40e88507.0d6a4c",
                "30d7e4f9.41a73c",
                "1be2a623.46d662"
            ]
        ]
    },
    {
        "id": "40e88507.0d6a4c",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "7a515ccc.76b344"
            ]
        ]
    },
    {
        "id": "9c412666.045608",
        "type": "comment",
        "z": "1777d44f.558154",
        "name": "Kippen komplett",
        "info": "",
        "x": 80,
        "y": 1200,
        "wires": []
    },
    {
        "id": "48ad0f28.c0d76",
        "type": "link out",
        "z": "1777d44f.558154",
        "name": "Motor_1_plus",
        "links": [
            "2bbbc7dd.001b78"
        ],
        "x": 615,
        "y": 1120,
        "wires": []
    },
    {
        "id": "de47e45.4043c18",
        "type": "link out",
        "z": "1777d44f.558154",
        "name": "Motor_1_aus",
        "links": [
            "7d55bfd5.ca3f28"
        ],
        "x": 615,
        "y": 1220,
        "wires": []
    },
    {
        "id": "7a515ccc.76b344",
        "type": "link out",
        "z": "1777d44f.558154",
        "name": "Motor_1_minus",
        "links": [
            "a8141f08.e3d91"
        ],
        "x": 615,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2bbbc7dd.001b78",
        "type": "link in",
        "z": "1777d44f.558154",
        "name": "Motor_1_plus",
        "links": [
            "48ad0f28.c0d76"
        ],
        "x": 735,
        "y": 200,
        "wires": [
            [
                "1e08c8c.20fbc37"
            ]
        ]
    },
    {
        "id": "7d55bfd5.ca3f28",
        "type": "link in",
        "z": "1777d44f.558154",
        "name": "Motor_1_aus",
        "links": [
            "de47e45.4043c18"
        ],
        "x": 735,
        "y": 280,
        "wires": [
            [
                "a034968.0baa268"
            ]
        ]
    },
    {
        "id": "a8141f08.e3d91",
        "type": "link in",
        "z": "1777d44f.558154",
        "name": "Motor_1_minus",
        "links": [
            "7a515ccc.76b344"
        ],
        "x": 735,
        "y": 400,
        "wires": [
            [
                "6fc0a8ed.a6e568"
            ]
        ]
    },
    {
        "id": "da7848c2.d67c08",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "48ad0f28.c0d76",
                "b603a626.a7b47"
            ]
        ]
    },
    {
        "id": "3ce7c0d7.cf1fd8",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "48ad0f28.c0d76",
                "129e5f65.0d4519"
            ]
        ]
    },
    {
        "id": "1db66ff7.3572d",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 390,
        "y": 1520,
        "wires": [
            [
                "7a515ccc.76b344",
                "35e0cad4.cd6f66"
            ]
        ]
    },
    {
        "id": "4313b4b2.03c8e4",
        "type": "trigger",
        "z": "1777d44f.558154",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "d5e61016.3ca1"
            ]
        ]
    },
    {
        "id": "1ca8da31.76b966",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "global.set(\"Motor_LED\",msg.payload);",
        "func": "node.status({\"text\":msg.payload});\nglobal.set(\"Motor_LED\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ceb6e035.d2991",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "Motor_LED_1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "4dad3901.e86e6",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "Motor_LED_0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "d5e61016.3ca1",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "",
        "func": "node.status({\"text\":global.get(\"Motor_LED\")});\nif ((global.get(\"Motor_LED\")==\"Motor_LED_0\")||msg.payload==1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "4f1772f5.13d30c"
            ]
        ]
    },
    {
        "id": "c29e705d.0a2258",
        "type": "rpi-gpio in",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "40",
        "intype": "up",
        "debounce": "80",
        "read": true,
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "8cbdd510.eeb86"
            ]
        ]
    },
    {
        "id": "8cbdd510.eeb86",
        "type": "switch",
        "z": "1777d44f.558154",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 880,
        "wires": [
            [],
            [
                "c44e353c.d3662"
            ]
        ]
    },
    {
        "id": "96ba110f.8b2b78",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "Testlösung erster Schritt",
        "topic": "",
        "payload": "Loeseliste=[12,12,13,15,0,16,-2,14,13,15,1,16,13,15,2,16,-8,13,15,3,16,-11,-14,-19,-20,-15,-1,-7,-5,-3,14,13,15,5,16,15,11,16,12,12,12]",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 760,
        "wires": [
            [
                "a9783c38.9ddef8"
            ]
        ]
    },
    {
        "id": "182547ce.903f08",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "eval(msg.payload)",
        "func": "eval(msg.payload);\nmsg.Loeseliste=Loeseliste;\n//node.status({\"text\":Loeseliste});\nglobal.set(\"Loeseliste\",Loeseliste);\nmsg.payload=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "b9558c61.7571f",
                "615abcff.cba604"
            ]
        ]
    },
    {
        "id": "8c339de4.4167d",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "switch 0 zu Motor_2_plus",
        "func": "let Loeseliste=global.get(\"Loeseliste\");\nif (Loeseliste&&Loeseliste.length>0) {\n  let z=Loeseliste.shift();\n  global.set(\"Loeseliste\",Loeseliste);\n  switch (z) {\n    case 0:\n    case 1:\n    case 2:\n    case 3:\n    case 4:\n    case 5: \n      //Loeseliste.unshift(z+6,z+6);\n      //global.set(\"Loeseliste\",Loeseliste);\n      msg.payload='Motor_2_plus';\n      //msg.payload='Motor_2_minus';//weil momentan pluss nicht genau genug\n      break;\n    case 6:\n    case 7:\n    case 8:\n    case 9:\n    case 10:\n    case 11: msg.payload='Motor_2_minus'; break;\n    case 12: msg.payload='Motor_2_plus';break;\n    case 13: msg.payload='Motor_1_Runterkippen';break;\n    case 14: msg.payload='Motor_2_minus';break;\n    case 15: msg.payload='Motor_1_Festhalten';break;\n    case 16: \n      while (Loeseliste.length>2&&Loeseliste[0]<0) Loeseliste.shift(); \n      if (Loeseliste.length>2&&Loeseliste[0]==13) {\n        Loeseliste.shift();\n        msg.payload='Motor_1_schnell_Kippen';\n        break;\n        } else msg.payload='Motor_1_Loslassen';break;\n    case 17: msg.payload='Motor_1_Hochkippen';break;\n    }\n  if (z<0) msg.payload='Motor_Summer_'+(-z);\n  node.status({'text':'jetzt '+z+' dann '+Loeseliste.slice(0,8)});\n  return msg;\n  }\nnode.status({'text':'nix'});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 740,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "cd650767.bbb04",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "Testlösung nächster Schritt",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 820,
        "wires": [
            [
                "8c339de4.4167d"
            ]
        ]
    },
    {
        "id": "35e0cad4.cd6f66",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 1580,
        "wires": [
            [
                "f3b0edad.9b4fe8",
                "9eb3e702.2906d8"
            ]
        ]
    },
    {
        "id": "f3b0edad.9b4fe8",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 1180,
        "wires": [
            [
                "d1e77f32.6c7808"
            ]
        ]
    },
    {
        "id": "a9783c38.9ddef8",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Testbeispiel",
        "func": "msg.payload='Loeseliste=[14,14,13,17,15,0,16,-2,14,13,17,15,1,16,-10,13,17,15,2,16,-8,13,17,15,3,16,-11,-14,-19,-20,-15,-1,-7,-5,-3,14,13,17,14]';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "8cdb281c.c88cd",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Loeseliste=[]",
        "func": "global.set('Loeseliste',[]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "30d7e4f9.41a73c",
        "type": "websocket out",
        "z": "1777d44f.558154",
        "name": "",
        "server": "330aaaaf.0cce26",
        "client": "",
        "x": 710,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e7a0f30d.136e6",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "30d7e4f9.41a73c"
            ]
        ]
    },
    {
        "id": "6021b993.1a6ac8",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "global.set Drehung",
        "func": "global.set('Drehung',msg.payload);\nnode.status({\"text\":msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9eb3e702.2906d8",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "de47e45.4043c18"
            ]
        ]
    },
    {
        "id": "eac81e50.4dbe38",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.01",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "31469676.19663a"
            ]
        ]
    },
    {
        "id": "82b5c82a.6b04b",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 1120,
        "wires": [
            [
                "f3b0edad.9b4fe8"
            ]
        ]
    },
    {
        "id": "c44e353c.d3662",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "global.get Drehung",
        "func": "if (global.get('Drehung')=='Motor_2_plus') {\n  global.set('Drehung','');\n  return [msg,null];\n  }\nif (global.get('Drehung')=='Motor_2_minus') {\n  global.set('Drehung','');\n  return [null,msg];\n  }\n",
        "outputs": 2,
        "noerr": 0,
        "x": 930,
        "y": 880,
        "wires": [
            [
                "82b5c82a.6b04b",
                "eac81e50.4dbe38"
            ],
            [
                "d004ecd9.2341f8",
                "aca9621.434a1a"
            ]
        ]
    },
    {
        "id": "d7efde5b.947a48",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 490,
        "y": 900,
        "wires": [
            [
                "48ad0f28.c0d76",
                "eaa19816.8d5d28"
            ]
        ]
    },
    {
        "id": "eaa19816.8d5d28",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "bc98e9fd.82f1d8",
                "615abcff.cba604"
            ]
        ]
    },
    {
        "id": "bc98e9fd.82f1d8",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "de47e45.4043c18"
            ]
        ]
    },
    {
        "id": "927763a2.5a0db",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "großes Testbeispiel",
        "func": "msg.payload='Loeseliste=[14,14,13,17,15,0,16,-2,14,13,17,15,1,16,13,17,15,2,16,13,17,15,3,16,13,17,15,6,16,12,13,17,15,10,16,14,14,13,17,15,0,16,-14,12,13,17,15,7,16,12,13,17,15,10,16,14,14,13,17,15,1,16,-19,12,13,17,15,8,16,12,13,17,15,10,16,14,14,13,17,15,2,16,13,17,14,14]';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 880,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "c6c280ac.a81a7",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 870,
        "y": 680,
        "wires": [
            [
                "27349da6.c02052"
            ]
        ]
    },
    {
        "id": "faec0a28.154268",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 870,
        "y": 480,
        "wires": [
            [
                "7371a023.02488"
            ]
        ]
    },
    {
        "id": "d1e77f32.6c7808",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Pause?",
        "func": "if (global.get(\"Pause\")==false) return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 980,
        "wires": [
            [
                "8c339de4.4167d"
            ]
        ]
    },
    {
        "id": "37dec65c.707fca",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Pause=true",
        "func": "global.set(\"Pause\",true)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "615abcff.cba604",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Pause=false",
        "func": "global.set(\"Pause\",false)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 960,
        "wires": [
            [
                "8c339de4.4167d"
            ]
        ]
    },
    {
        "id": "423447f.8b18bb8",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Testbeispiel Y",
        "func": "msg.payload='Loeseliste=[14,14,13,17,15,0,0,16,-2,14,13,17,15,1,1,16,-10,13,17,15,2,2,16,-8,13,17,15,3,3,16,-11,-14,-19,-20,-15,-1,-7,-5,-3,14,13,17,14]';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 940,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "31ce5720.301fe8",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "Testbeispiel Q",
        "func": "msg.payload='Loeseliste=[14,14,13,17,15,0,16,-2,13,17,13,17,15,2,16,14,13,17,15,1,16,-10,-8,13,17,13,17,15,3,16,-11,-14,-19,-20,-15,-1,-7,-5,-3,12,13,17,14]';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 980,
        "wires": [
            [
                "681f320e.1093c4"
            ]
        ]
    },
    {
        "id": "7b94a79c.a17c1",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 60,
        "y": 1340,
        "wires": [
            [
                "2db67214.92dac6",
                "c4af5447.453a38"
            ]
        ]
    },
    {
        "id": "e1f0460c.caaf6",
        "type": "template",
        "z": "1777d44f.558154",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 70,
        "y": 1280,
        "wires": [
            [
                "48ad0f28.c0d76",
                "7b94a79c.a17c1"
            ]
        ]
    },
    {
        "id": "d004ecd9.2341f8",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 900,
        "y": 1040,
        "wires": [
            [
                "82b5c82a.6b04b"
            ]
        ]
    },
    {
        "id": "aca9621.434a1a",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.01",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "31469676.19663a"
            ]
        ]
    },
    {
        "id": "c4af5447.453a38",
        "type": "delay",
        "z": "1777d44f.558154",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.05",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "d1e77f32.6c7808"
            ]
        ]
    },
    {
        "id": "ad3db172.f619b8",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "6c5f3ca3.b499ec"
            ]
        ]
    },
    {
        "id": "6c5f3ca3.b499ec",
        "type": "trigger",
        "z": "1777d44f.558154",
        "op1": "100",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "0.5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "5b69c334.baf2d4"
            ]
        ]
    },
    {
        "id": "5b69c334.baf2d4",
        "type": "rpi-gpio out",
        "z": "1777d44f.558154",
        "name": "",
        "pin": "3",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "x": 130,
        "y": 200,
        "wires": []
    },
    {
        "id": "b5cbbba5.2597d8",
        "type": "inject",
        "z": "1777d44f.558154",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 580,
        "y": 1540,
        "wires": [
            [
                "4acae1c8.00014"
            ]
        ]
    },
    {
        "id": "4acae1c8.00014",
        "type": "function",
        "z": "1777d44f.558154",
        "name": "msg",
        "func": "msg.payload='hallo';\nnode.status({text:msg.payload})\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 1640,
        "wires": [
            [
                "c1dc927d.f99288"
            ]
        ]
    },
    {
        "id": "c1dc927d.f99288",
        "type": "debug",
        "z": "1777d44f.558154",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 1660,
        "wires": []
    }
]